{{ if eq .chezmoi.os "windows" }}
AppData/Local/clink/gizmos:
  type: git-repo
  url: https://github.com/chrisant996/clink-gizmos
  refreshPeriod: 168h  # 1 week
AppData/Local/tealdeer/tealdeer/pages:
  type: git-repo
  url: https://github.com/nagromc/tldr-custom-pages
  refreshPeriod: 168h  # 1 week
AppData/Roaming/kanata:
  type: git-repo
  url: https://github.com/nagromc/kanata-config
{{ end }}
