{{ if eq .chezmoi.os "darwin" }}
Library/Application Support/kanata:
  type: git-repo
  url: https://github.com/nagromc/kanata-config
  refreshPeriod: 24h  # 1 day
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config/komorebi/applications.json:
  type: file
  url: https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/refs/heads/master/applications.json
  refreshPeriod: 168h  # 1 week
AppData/Local/clink/gizmos:
  type: git-repo
  url: https://github.com/chrisant996/clink-gizmos
  refreshPeriod: 168h  # 1 week
AppData/Local/tealdeer/tealdeer/pages:
  type: git-repo
  url: https://github.com/nagromc/tldr-custom-pages
  refreshPeriod: 168h  # 1 week
AppData/Roaming/kanata:
  type: git-repo
  url: https://github.com/nagromc/kanata-config
  refreshPeriod: 24h  # 1 day
AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/kanata_gui.exe:
  type: file
  url: https://github.com/jtroo/kanata/releases/download/v1.8.1/kanata_gui.exe
{{ end }}
