node_modules/
.chezmoiscriptsdata/
bootstrap.ps1
dotfiles.sublime-project
dotfiles.sublime-workspace
package-lock.json
package.json
README.md

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/macos/**
.strongbox
Library
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/Code
.config/sublime-text
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.chocolatey/
.config/scoop
AppData
Documents/autohotkey-scripts
Documents/PowerShell
scoop/
vimfiles/
{{ else }}
.config/alacritty
.config/helix
.config/topgrade.toml
.config/vim
.config/yazi
.bashrc
.profile
.zprofile
.zshrc
{{ end }}
