{{/* The following comment line *will* be inserted in the final file */ -}}
{{ "# Do *not* edit this file as it will be overwritten on next `chezmoi init` call." }}
{{ printf "# Edit `%s/.chezmoi.yaml.tmpl` instead" .chezmoi.sourceDir -}}

{{ $gitemail := promptStringOnce . "gitemail" "Git e-mail" -}}

{{- $usageChoices := list "home" "work" -}}
{{- $usage := promptChoiceOnce . "usage" "Usage" $usageChoices -}}

{{ $keepassxcpath := promptStringOnce . "keepassxcpath" "KeePassXC database path" -}}

{{ $wakatimeapikey := get . "wakatimeapikey" -}}
{{ if and (not $wakatimeapikey) (get . "keepassxcpath") -}}
{{ $wakatimeapikey := keepassxcAttribute "WakaTime" "API key" -}}
{{ end }}

{{ if eq .chezmoi.os "windows" -}}
# override default cmd.exe on windows
cd:
  command: pwsh
{{- end }}

data:
  gitemail: {{ $gitemail }}
  keepassxcpath: {{ $keepassxcpath }}
  usage: {{ $usage }}
  wakatimeapikey: {{ $wakatimeapikey }}

diff:
  pager: delta

keepassxc:
  {{ if eq $usage "home" }}
  args:
    - --yubikey
    - "2"
  {{ end }}
  database: {{ $keepassxcpath }}
