{{ "# Do *not* edit this file as it will be overwritten on next `chezmoi init` call." }}
{{ printf "# Edit `%s/.chezmoi.yaml.tmpl` instead" .chezmoi.sourceDir }}

{{ $gitemail := get . "gitemail" }}
{{ if not $gitemail }}
{{ $gitemail = promptString "Git e-mail" }}
{{ end }}

{{ $usage := get . "usage" }}
{{ if not $usage }}
{{ $usage = promptString "Usage (work|home)" }}
{{ end }}

{{ $keepassxcpath := get . "keepassxcpath" }}
{{ if not $keepassxcpath }}
{{ $keepassxcpath = promptString "KeePassXC database path" }}
{{ end }}

{{ if eq .chezmoi.os "windows" }}
# override default cmd.exe on windows
cd:
  command: pwsh
{{ end }}

data:
  gitemail: {{ $gitemail }}
  keepassxcpath: {{ $keepassxcpath }}
  usage: {{ $usage }}

diff:
  pager: delta

keepassxc:
  {{ if eq $usage "home" }}
  args:
    - --yubikey
    - 2
  {{ end }}
  database: {{ $keepassxcpath }}
