{{ "# Do *not* edit this file as it will be overwritten on next `chezmoi init` call." }}
{{ printf "# Edit `%s/.chezmoi.yaml.tmpl` instead" .chezmoi.sourceDir }}

{{ $usage := promptString "usage (work|home)" }}
{{ $email := promptString "git email" }}
{{ $keepassdbpath := promptString "KeePassXC database path" }}

{{ if eq .chezmoi.os "windows" }}
# override default cmd.exe on windows
cd:
  command: pwsh
{{ end }}

data:
  git: {{ $email }}
    email:
  usage: {{ $usage }}

diff:
  pager: delta

keepassxc:
  {{ if eq $usage "home" }}
  args:
    - --yubikey
    - 2
  {{ end }}
  database: {{ $keepassdbpath }}
