# aliases
alias cm='chezmoi'
alias d='docker'
alias g='git'
alias v='vim'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

export EDITOR=subl
export LESS={{ .envvars.LESS }}
export PAGER={{ .envvars.PAGER }}
export RIPGREP_CONFIG_PATH=~/.config/ripgrep/ripgreprc
