{{ if eq .usage "work" }}
Host github.com
  Hostname ssh.github.com
  Port 443
  User git
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
Host *
  IdentityAgent "~/Library/Group Containers/group.strongbox.mac.mcguill/agent.sock"
{{ end }}
