scoop bucket add extras
scoop bucket add java
scoop bucket add nerd-fonts
scoop bucket add morgan https://github.com/nagromc/scoop-bucket
scoop bucket add versions

scoop install `
{{ range .packages.windows.scoop.packages -}}
  {{ . | quote }} `
{{ end -}}
