# windows-preferences.reg hash: {{ include "dot_local/share/chezmoi-scripts-data/windows/windows-preferences.reg" | sha256sum }}
reg import {{ .chezmoi.homeDir }}\.local\share\chezmoi-scripts-data\windows\windows-preferences.reg
