$Env:LESS = {{ .envvars.less | quote }}
$Env:MAVEN_OPTS = "-Dfile.encoding=UTF-8"
$Env:PAGER = {{ .envvars.pager | quote }}
$Env:RIPGREP_CONFIG_PATH = "$Env:USERPROFILE\.config\ripgrep\ripgreprc"
# count shell level
$Env:SHLVL = [int] $Env:SHLVL + 1
