$Env:COLORTERM = 'truecolor'
$Env:EDITOR = "micro"
$Env:LESS = {{ .envvars.less | quote }}
$Env:PAGER = {{ .envvars.pager | quote }}
$Env:RIPGREP_CONFIG_PATH = "$Env:USERPROFILE\.config\ripgrep\ripgreprc"
# count shell level
$Env:SHLVL = [int] $Env:SHLVL + 1
$Env:VISUAL = "micro"
$Env:YAZI_FILE_ONE = "$Env:USERPROFILE\scoop\apps\git\current\usr\bin\file.exe"
