{{ if eq .chezmoi.os "windows" -}}
source ~/vimfiles/vimrc
{{- else -}}
source ~/.config/vim/vimrc
{{- end }}

" use system clipboard when yanking
set clipboard+=unnamed

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
