scoop bucket add extras
scoop bucket add java

scoop install `
  7zip `
  alacritty `
  bat `
  bottom `
  broot `
  clink `
  curl `
  delta `
  dust `
  fd `
  fzf `
  git `
  gitui `
  gsudo `
  just `
  lazydocker `
  lazygit `
  less `
  lsd `
  maven `
  navi `
  pandoc `
  procs `
  psutils `
  putty `
  python `
  quicklook `
  ripgrep `
  screentogif `
  starship `
  sumatrapdf `
  temurin8-jdk `
  temurin11-jdk `
  temurin17-jdk `
  topgrade `
  vscode `
  wget `
  xh `
  zoxide

clink autorun install
