scoop install `
  bat `
  bottom `
  broot `
  clink `
  curl `
  delta `
  dust `
  fd `
  fzf `
  git `
  gitui `
  gsudo `
  just `
  lazydocker `
  lazygit `
  less `
  lsd `
  procs `
  starship `
  topgrade `
  xh

clink autorun install
