<?xml version="1.0" encoding="UTF-8"?>
<toolchains xmlns="http://maven.apache.org/TOOLCHAINS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/TOOLCHAINS/1.1.0 https://maven.apache.org/xsd/toolchains-1.1.0.xsd">

  <toolchain>
    <type>jdk</type>
    <provides>
      <version>8</version>
      <vendor>Temurin</vendor>
    </provides>
    <configuration>
      <jdkHome>
        {{- if eq $.chezmoi.os "windows" -}}
        ${env.USERPROFILE}\scoop\apps\temurin8-jdk\current
        {{- else if eq $.chezmoi.os "darwin" -}}
        /Library/Java/JavaVirtualMachines/temurin-8.jdk/Contents/Home
        {{- end -}}
      </jdkHome>
    </configuration>
  </toolchain>

  {{- range $javaVersion := list 11 17 21 25 }}

  <toolchain>
    <type>jdk</type>
    <provides>
      <version>{{ $javaVersion }}</version>
      <vendor>Eclipse Adoptium</vendor>
    </provides>
    <configuration>
      <jdkHome>
        {{- if eq $.chezmoi.os "windows" -}}
        ${env.USERPROFILE}\scoop\apps\temurin{{ $javaVersion }}-jdk\current
        {{- else if eq $.chezmoi.os "darwin" -}}
        /Library/Java/JavaVirtualMachines/temurin-{{ $javaVersion }}.jdk/Contents/Home
        {{- end -}}
      </jdkHome>
    </configuration>
  </toolchain>
  {{- end }}
</toolchains>
