[font]
size = 12

[font.normal]
family = "CaskaydiaCove Nerd Font"

{{ if eq .chezmoi.os "darwin" -}}
[terminal.shell]
program = "/bin/zsh"
args = ["--login"]
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
[terminal.shell]
program = "pwsh"
{{ end -}}
