[custom.pioupiou-eta]
command = "pioupiou-eta --dob '2024-08-20' --format days"
when = true
description = "The ETA of Pioupiou"
symbol = "🐣 "
style = "105 italic dimmed"
format = "ETA [$symbol($output )]($style)"

[directory]
truncation_symbol = "…/"

[git_branch]
symbol = "󰘬 "

[git_commit]
tag_disabled = false

[git_metrics]
disabled = false

[localip]
disabled = false

{{ if eq .usage "work" -}}
[shell]
disabled = false
powershell_indicator = "Windows PowerShell"
pwsh_indicator = "pwsh"
{{- end }}

[shlvl]
disabled = false
