[directory]
truncation_symbol = "…/"

[docker_context]
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile', 'compose.yaml', 'compose.yml']

[git_branch]
symbol = "󰘬 "

[git_commit]
tag_disabled = false

[git_metrics]
disabled = false

[localip]
disabled = false

{{ if eq .usage "work" -}}
[shell]
disabled = false
powershell_indicator = "Windows PowerShell"
pwsh_indicator = "pwsh"
{{- end }}

[shlvl]
disabled = false
