[directory]
truncation_symbol = "…/"

[git_branch]
symbol = "󰘬 "

[git_commit]
tag_disabled = false

[git_metrics]
disabled = false

[localip]
disabled = false

{{ if eq .chezmoi.hostname "PC8052" -}}
[shell]
disabled = false
{{- end }}

[shlvl]
disabled = false
